{
    auto_https disable_redirects
}

https://wheel.local {
    tls internal
    reverse_proxy localhost:8080
}

http://wheel.local {
    reverse_proxy localhost:8080
}

http://localhost:80 {
    reverse_proxy localhost:8080
}
